#startContainer {
    width: 1000px;
    height: auto;
    padding-top: auto;
    padding-bottom: auto;
}

#quizContainer {
    width: 1000px;
    height: auto;
    padding-top: auto;
    padding-bottom: auto;
}